aiomqtt
bcrypt
geopy
lapx
matplotlib
networkx
numpy
onnx
onnxruntime-gpu
opencv-python-headless
Pillow
pyYAML
python-dotenv
rasterio
requests
scikit-image
scipy
shapely
sqlalchemy
tqdm
ultralytics
websockets
websocket-client