black
isort
lightning
matplotlib
notebook
numpy
onnx
opencv-python
optuna
pandas
pillow
pre-commit
plotly
pyYAML
pytest
pytest-cov
python-dotenv
rasterio
ray
requests
scikit-image
scikit-learn
scipy
seaborn
statsmodels
setuptools
torch
torchmetrics
torchvision
tornado
tqdm
ultralytics
wandb
