black
isort
lapx
matplotlib
msgpack
networkx
numpy
opencv-python-headless
Pillow
pyYAML
pytest
pytest-cov
python-dotenv
ray[tune]
numpy
requests
scikit-image
scipy
setuptools
shapely
streamlit
transformers
tqdm
ultralytics
wandb
