black
isort
lapx
matplotlib
msgpack
networkx
numpy
onnx
onnxruntime-gpu
opencv-python-headless
Pillow
pyYAML
pytest
pytest-cov
python-dotenv
ray[tune]
rasterio
requests
scikit-image
scipy
setuptools
shapely
streamlit
transformers
tqdm
ultralytics
wandb
