aiomqtt
black
isort
geopy
lapx
matplotlib
msgpack
networkx
numpy
onnx
onnxruntime-gpu
opencv-python-headless
paho-mqtt
Pillow
pyYAML
pytest
pytest-cov
python-dotenv
ray[tune]
rasterio
requests
scikit-image
scipy
setuptools
shapely
sqlalchemy
streamlit
torch
torchvision
transformers
tqdm
ultralytics
wandb
websockets
