# Git
.git
.gitignore
.gitattributes

# Operating System specific
.DS_Store

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env
.venv/
venv/

# IDEs
.idea/
.vscode/

# Project specific directories
certificates/
configs/
docker/
data/
dev/
experiments/
outputs/
pyscripts/
shscripts/
simulation/
tests/

# - exclude partially
logs/*/
src/*/

# - keep these components
!logs/ui/
!src/ui/


# Project specific files
.pre-commit-config.yaml
README.md
*.py
*.sh

# keep these files:
!ui.py